:root{
  --black-background: black;
  --text-color: white;
}

.navbar{
  background-color: var(--black-background);
  height: 3.5rem;
  color: var(--text-color);
  display: flex;
}

.navbar *{
  padding: 0.5em 0.5em 0.5em 0.5em;
}


.navbar ul{
  display: flex;
  font-weight: 400;
}