.card-oculos{
  background-color: #ffff;
  width: 15rem;
  height: 22rem;
  margin: 1em;
}

.card-oculos .fav-area{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 2em;
  display: block;
}

.card-oculos .photo-area {
  display: flex;
  position: relative;
  transform: translateX(10%);
  right: 4%;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
}

.card-oculos .name-area {
  justify-content: center;
}

.name-area .name-value {
  font-weight: bold;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.card-oculos .price-area {
  height: 3em;
}

.price-area .price-value {
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 3em;
}


.photo-area img{
  width: 100%;
}

.button-area{
  display: flex;
  justify-content: space-around;
  margin: 1em 0 0 0;
}

