body {
    background-color: #fff;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

.products-wrapper {
    padding-top: 30px;
}

.products-wrapper .shell {
    display: flex;
    justify-content: space-between;
}

.shell {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1365px;
    width: 100%;
}

.products-wrapper .shell .wrapper-left {
    background-color: teal;
    width: 350px;
    flex: 1;
}

.products-wrapper .shell .wrapper-right {
    background-color: tomato;
    width: calc(100%-380px);
    flex: 1;
}