

.products-wrapper {
    margin-top: 2em;
}

.products-wrapper .shell {
    display: flex;
}

.shell {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1365px;
    width: 100%;
    display: flex;
}


.filter .navigator h4 {
    cursor: pointer;
    padding: 15px 0;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    text-transform: lowercase;
}


.wrapper-right{
    display: flex;
    flex-wrap: wrap;
}

