.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button[type=submit] {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type=submit]:hover {
  transition-duration: 1s;
  background-color: #45a049;
}