

/*
.account-page {
    border-style: solid;
    margin: 1px;
    border-color: black;
}
*/
.page-title {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    color: #000;
    line-height: 100px;
    font-size: 32px;
    font-weight: 600;
    font-weight: bold;
}

.account-page-body {
    display: flex;
    flex-direction: row;
    padding: .75rem;
}

.account-info {
    padding-right: 1rem;
}

.account-info-fields {
    width: 50rem;
    padding: 30px;
    border-color: black;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.11rem;
    border-radius: 0.25rem;
}

.data-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    border-color: #eee;
    border-width: 0.125rem;
}

.field-name {
    font-weight: 500;
    color: black;
    margin-bottom: 12px;
}

.field {
    color: #888;
}

.footer-area {
    display: flex;
    justify-content: flex-end;
}

.edit-info-btn {
  border-style: none;
  height: 3em;
  width: 200px;
  background-color: black;
  border-radius: 0.5em;
}

.edit-info-btn:hover {
    cursor: pointer;
}

.editing-page {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;  
    text-decoration: none;
}

.password-field {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0.11rem;
    border-radius: 0.25rem;
}